p {
  color: #3232a8;
  font-family: serif;
}
body {
  background-color: lightblue;
}
.center {
  border-radius: 25px;
  background: #73ad21;
  text-align: center;
  margin: auto;
  width: 60%;
  border: 3px solid #73ad21;
  padding: 10px;
}
